.block {
  z-index: 1;
  position: relative;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* background-color: #e4e4e4; */
  min-height: 560px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 15px;
  position: relative;
}

.elemArea {
  background: #c7a2e3;
  width: 250px;
  height: 280px;
  border-radius: 12px;
  padding: 10px;
  position: relative;
}

h3 {
  font: 600 16px "Montserrat";
  text-align: center;
  word-wrap: break-word;
}

.ownerArea {
  font: 400 14px "Montserrat";
  /* background: #fff; */
  height: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.ownerName {
  font: 400 14px "Montserrat";
  text-align: center;
  margin: 0;
  word-wrap: break-word;
}

.ownerNameUrl {
  text-wrap: wrap;
  font: 400 14px "Montserrat";
  color: black;
  text-decoration: underline;
  text-decoration-color: #7c7c7c;
}

.ownerNameUrl:hover {
  cursor: pointer;
}

.imgOwner {
  max-width: 30%;
  height: auto;
}

.btnLink {
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.btnClose {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
