.loading {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 15%;
  height: 15%;
}

.maxCount {
  position: fixed;
  /* background-color: #000; */
  z-index: 3;
  color: red;
  font: 600 20px "Montserrat";
  bottom: 15px;
  right: 15px;
}
