.block {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  min-height: 500px;
  background-color: #dcdbdb;
  /* background-color: rgb(225, 255, 244, 0.8); */
  border-radius: 16px;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 6px 3px 3px grey;
}

h1 {
  font: 600 32px "Montserrat";
  margin-bottom: 40px;
}

.areaField {
  margin-top: 21px;
}

.labelInput {
  margin-top: 25px;
  font: 400 24px "Montserrat";
}

#fieldToken {
  font: 400 16px "Montserrat";
}

.info {
  font: 400 16px "Montserrat";
  display: flex;
  column-gap: 100px;
  justify-content: center;
  margin-top: 50px;
}

.arr {
  list-style: none;
  line-height: 30px;
}

.infoToken {
  text-align: left;
}

.indoAboutMe {
  padding-top: 50px;
  text-align: left;
  flex-grow: 1;
}
